@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.glow-button {
  filter: drop-shadow(2px 2px 5px var(--color-semi-secondary));
}

.drop-shadow-pink {
  filter: drop-shadow(0px 4px 2px var(--color-primary));
}


/* filter: "drop-shadow(2px 2px 5px #00E7F9)" */
